configuration {
 modes: "window,drun,run,ssh,filebrowser";
 show-icons: true;
 display-drun: "Search: ";
}
//@theme "/usr/share/rofi/themes/tokyonight.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"

//@theme "/home/xeliotrop/.config/rofi/themes/catppuccin-lavrent-mocha.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"

@theme "/home/xeliotrop/.config/rofi/themes/catppuccin-lavrent-mocha.rasi"
